.pr-content {
  width: 40%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  min-height: 46vh;
}

.card-category {
  background-size: cover;
  background-position: center;
  // background-color: #343a40;
  // opacity: 0.9;
  height: 111px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  // font-weight: bold;
  // text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  box-shadow: -3px 2px 26px 0px grey;
  padding: 10px;
  margin: 10px;
  transition: transform 0.2s; /* Animation */
  position: relative;
}

.card-category i {
  font-size: 15px;
  margin-left: 10px;
  color: #eeeeeead;
}

.card-title {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  color: honeydew;
}

.card-title:hover {
  color: whitesmoke;
}

.icons {



  position: absolute;
  bottom: 3px;
  right: 10px;

}

.card-category:hover {
  transform: scale(1.05);
}

.btn-dark {
  box-shadow: -3px 2px 26px 0px grey;
  background: #151f21;
  border-color: #151f21;
}

.btn-dark:hover {
  color: #fff;
  background-color: #584238;
  border-color: #584238;
}

.pr-content ul {
  list-style-type: none;
  font-size: 30px;
}

.pr-content h1 {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Quicksand", sans-serif;
  font-size: 30px;
  color: #151f21;
  font-family: "Major Mono Display", monospace;
  margin-top: 20px;
}

.pr-content a {
  font-size: 17px;
  font-family: "Roboto", sans-serif;
}

.pr-content p {
  text-align: center;
}

a {
  color: #151f21;
  //font-size: 18px;
}

a:hover {
  color: #584238;
  text-decoration: none;
}

.wordCarousel {
  font-size: 36px;
  font-weight: 100;
  color: #939393;

  .one {
    overflow: hidden;
    position: relative;
    float: right;
    height: 65px;
    padding-top: 10px;
    margin-top: -10px;
    li {
      font-family: sans-serif;
      color: #584238;
      font-weight: 700;
      padding: 0 10px;
      height: 45px;
      margin-bottom: 45px;
      display: block;
    }
  }
}

.flip2 {
  animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}
.flip3 {
  animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}
.flip4 {
  animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

@keyframes flip2 {
  0% {
    margin-top: -180px;
  }
  5% {
    margin-top: -90px;
  }
  50% {
    margin-top: -90px;
  }
  55% {
    margin-top: 0px;
  }
  99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

@keyframes flip3 {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

@keyframes flip4 {
  0% {
    margin-top: -360px;
  }
  5% {
    margin-top: -270px;
  }
  25% {
    margin-top: -270px;
  }
  30% {
    margin-top: -180px;
  }
  50% {
    margin-top: -180px;
  }
  55% {
    margin-top: -90px;
  }
  75% {
    margin-top: -90px;
  }
  80% {
    margin-top: 0px;
  }
  99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

// Layout //////////////////////////////////////////
.wordCarousel {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.wordCarousel {
  font-family: "Major Mono Display", monospace;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flip4 {
  text-align: center;
}

.word {
  color: black;
}

.project-home {
  position: absolute;
  width: 100%;
  background: transparent;
  box-shadow: none;

  h1 {
    color: white;
  }
}


.btn-secondary{
  font-size: 17px;
padding: 5px 32px;
box-shadow: -3px 2px 26px 0px grey;
margin-right: 468px;
margin-top: -68px;
background-color: #584238;
  border-color: #584238;

}

.btn-secondary:hover {
  background-color: #151f21;
  border-color: #151f21;
}


.form-actions .btn-dark{
  margin-left: 415px;


}





