.pr-content {
  width: 40%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  min-height: 46vh;
}
.btn-dark{
  box-shadow: -3px 2px 26px 0px grey;
}

.btn-dark:hover {
    color: #fff;
    background-color: #584238;
    border-color: #584238;
  }


.pr-content ul {
  list-style-type: none;
  font-size: 30px;
}

.pr-content h1 {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Quicksand", sans-serif;
  font-size: 30px;
  color: #151f21;
  font-family: "Major Mono Display", monospace;
  margin-top: 190px;
}


.pr-content a {
  font-size: 19px;
  font-family: 'Roboto', sans-serif;
}


.pr-content p {
  text-align: center;
}

a{
  color: #151f21;
  //font-size: 18px;
}

a:hover{

  color: #584238;
  text-decoration: none;
}

.wordCarousel {
    font-size: 36px;
    font-weight: 100;
    color: #939393;

    .one {
        overflow: hidden;
        position: relative;
        float: right;
        height: 65px;
        padding-top: 10px;
        margin-top: -10px;
        li {
            font-family: sans-serif;
            color: #584238;
            font-weight: 700;
            padding: 0 10px;
            height: 45px;
            margin-bottom: 45px;
            display: block;
        }
    }
}

.flip2 { animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip3 { animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip4 { animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }

@keyframes flip2 {
    0% { margin-top: -180px; }
    5% { margin-top: -90px;  }
    50% { margin-top: -90px; }
    55% { margin-top: 0px; }
    99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

@keyframes flip3 {
    0% { margin-top: -270px; }
    5% { margin-top: -180px; }
    33% { margin-top: -180px; }
    38% { margin-top: -90px; }
    66% { margin-top: -90px; }
    71% { margin-top: 0px; }
    99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

@keyframes flip4 {
    0% { margin-top: -360px; }
    5% { margin-top: -270px; }
    25% { margin-top: -270px; }
    30% { margin-top: -180px; }
    50% { margin-top: -180px; }
    55% { margin-top: -90px; }
    75% { margin-top: -90px; }
    80% { margin-top: 0px; }
    99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

// Layout //////////////////////////////////////////
.wordCarousel {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.wordCarousel {
    font-family: 'Major Mono Display', monospace;
    display: flex;
    align-items: center;
    justify-content: center;

}

.flip4{
  margin-left: -47px;
}

.word {
margin-top: -27px;
color: black;
}

