<%= content_for(:navbar_class, "navbar-home") %>
<div class="banner">
  <div class="banner-content text-center">
<h2> Composez votre Texte</h2>
<%= link_to "Commencez", projects_path, class: "btn btn-lg btn-primary"  %>
</div>
</div>
<%= content_for(:footer_class, "footer-home") %>


