<%= content_for(:navbar_class, "navbar-home") %>
<div class="banner">
  <div class="banner-content text-center">

<%= link_to projects_path do  %>
<h1 class="inspire-title">Inspire Me Baby...</h2>
<% end %>
</div>
</div>
<%= content_for(:footer_class, "footer-home") %>

