<%= content_for(:navbar_class, "project-home") %>
<div class="big-container">
    <div class="pr-content">
        <h1>Modifier Projet</h1>
        <%= render 'form', project: @project, class: "btn btn-secondary" %>
        <div class="modif-btn">
            <p><%= link_to 'Retour', projects_path, class: "btn-modif" %></p>
        </div>
    </div>
</div>
