<%= content_for(:navbar_class, "project-home") %>
 <div class="big-container">
    <div class="bg-band-new">
</div>




<div class="pr-content">


<h1>Nouveau Groupe</h1>



<%= render 'form', locals: { band: @band, emails: @emails } %>
<div class="new-btn">

<%= link_to 'Retour', project_path(@project) , class: "btn-new" %>
</div>
</div>
</div>




