.big-container {
  display: flex;
  // justify-content: flex-start;
  min-height: 100vh;
}

.bground {
  //background-image: url("https://images.unsplash.com/photo-1514320291840-2e0a9bf2a9ae?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://res.cloudinary.com/dsmxleyf5/image/upload/v1609826459/gujz4i40mcqlfbhvnflu.jpg");
  background-repeat: none;
  background-size: cover;
  min-width: 37%;
  min-height: 100vh;
  
}

.bgnew {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    image-url("new-project-inspire.jpg");
  background-repeat: none;
  background-size: cover;
  box-shadow: 1px 0px 10px 0px #81695d;

  min-width: 37%;
  min-height: 100vh;
}

.bgshow {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    image-url("piano-show-inspire.jpg");
  background-repeat: none;
  background-size: cover;
  box-shadow: 1px 0px 10px 0px #81695d;

  min-width: 37%;
  min-height: 100vh;
}
.bgedit {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    image-url("violon-inspire-edit.jpg");
  background-repeat: none;
  background-size: cover;
  box-shadow: 1px 0px 10px 0px #81695d;

  min-width: 37%;
  min-height: 100vh;
}

.bg-band-new {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    image-url("band-new-inspire.jpg");
  background-repeat: none;
  background-size: cover;
  box-shadow: 1px 0px 10px 0px #81695d;

  min-width: 37%;
  min-height: 100vh;
}
.bgtext {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    image-url("text-write-inspire.jpg");
  background-repeat: none;
  background-size: cover;
  box-shadow: 1px 0px 10px 0px #81695d;

  min-width: 37%;
  min-height: 100vh;

}

.word {
  text-align: center;
}

.project {
  // border: 1px solid black;
  // border-radius: 5px;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  // grid-template-rows: repeat(3, 150px);
  // flex-direction: column;
  align-items: center;

  li {
    list-style-type: none;
    margin-left: 0;
  }
}
// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .project {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .project {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .project {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .project {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.project-container {
  
  width: 100%;

  //box-shadow: 1px 0px 10px 0px #81695d;

  // margin-left: 20px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.project-container h1 {
  font-family: "Major Mono Display", monospace;
}

.container {
  // display: flex;
  // width: 800px;
  // margin-top: 40px;
  
  // margin-left: auto;
  // margin-right: auto;
  min-height: 100vh;
}

.sub-container{
  min-height: 100 vh;
}

.text-editor {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.form-actions .btn-dark {
  margin-left: auto;
  margin-right: auto;
}
// .wordCarousel {

// }
// .action-word {
//   display:flex;
//   width: 150px;
//   right: 0px;
//   top: 100px;
//   position: absolute;
//   // right: -90px;
//   z-index: 1;
  
// }

#test {
  right: 0px;
  top: 140px;
  z-index: 1;
  // background-color: #707070;
  color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 0px;
  height: 300px;
  opacity: 0.7;
  // box-shadow: 1px 0px 10px 0px #81695d;
  position: absolute;
  padding: 10px;
  overflow-x: auto;
  transition: 0.8s;

  span {
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
  }

  span:hover {
    font-size: 105%;
    font-weight: bolder;
    text-shadow: 0 0 12px rgb(255, 255, 255);
  }
}

#test.active {
  min-height: 31em;
  width: 20%;
  transition: 0.8s;
  opacity: 0.7;
  z-index: 1;
  background-color: #707070;
  color: white;
}

// .rime{
// background-color: blue;
// }
// .synonyme{
// background-color: red;
// }

.close{
  left: 0px;
  top: 140px;
  z-index: 1;
  position: absolute;
  color: #9e9e9e2e;
  transition: 0.8s;
  opacity: 0.1
  
}

.close.active{
  left: 18.5%;
  color:black;
  transition: 0.8s;
  opacity: 0.7;
}

#results {
  left: 0px;
  top: 140px;
  z-index: 1;
  background-color: #707070;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 0%;
  height: 300px;
  opacity: 0.7;
  // box-shadow: 1px 0px 10px 0px #95caf1;
  position: absolute;
  padding-top: 10px;
  padding-left: 7px;
  transition: 0.8s;
  overflow: auto;

  span {
    list-style-type: none;

    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
    text-shadow: 0;
  }

  span:hover {
    font-size: 110%;
    font-weight: bolder;
    text-shadow: 0 0 10px rgb(255, 255, 255);
  }
}

#results.active {
  min-height: 31em;
  width: 20%;
  transition: 0.8s;
  opacity: 0.7;
  z-index: 1;
}


// .closebar{
//   position: absolute;
//   top: 2px;
//   right: 2px;
//   z-index: 2;
// }

::-webkit-scrollbar {									/* Scrollbars */
	width: 14px;
	height: 14px;
	
}

::-webkit-scrollbar-thumb {								/* Barre */
	border: solid 0 transparent;
	border-right-width: 4px;
	border-radius: 5px;
	border-top-right-radius: 9px 5px;
	border-bottom-right-radius: 9px 5px;
	box-shadow: inset 0 0 0 1px rgb(79,79,79), inset 0 0 0 6px rgb(102,102,102);
}
 ::-webkit-scrollbar-thumb:hover {						/* Barre */
	box-shadow: inset 0 0 0 1px rgb(90,90,90), inset 0 0 0 6px rgb(110,110,110);
 }
::-webkit-scrollbar-thumb:horizontal {					/* Barre du bas */
	border-right-width: 0;
	border-bottom-width: 4px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px 9px;
	border-bottom-left-radius: 5px 9px;
}



.project-home {
  position: absolute;
  width: 100%;
  background: transparent;
  box-shadow: none;
}

.project-login {
  .title {
    color: black;
  }
}

// .box{
//     right:0px;
// 	top: 150px;
// 	z-index: 1;
// 	background-color: white;
// 	border-top-left-radius: 20px;
// 	border-bottom-left-radius: 20px;
// 	width: 0%;
// 	height: 300px;
// 	opacity: 0.8;
//     border: solid 1px black;
// 	position: absolute;
// 	transition: 0.8s;

//      p {
//          color: black;
//      }
// }

// .box.active {
// 	width: 50%;
// 	transition: 0.8s;
// }

.btn-text {
  box-shadow: -3px 2px 26px 0px grey;
  background: #343a40;
    padding: 11px 32px;
    color: white;
}

.btn-text:hover {
background: #584238;
    padding: 11px 32px;
    color: white;
}


.btn-new {
  box-shadow: -3px 2px 26px 0px grey;
  background: #584238;
    padding: 9px 32px;
    color: white;
}

.btn-new:hover {
background: #151f21;
    padding: 9px 32px;
    color: white;

}

.new-btn{
  margin:-31px;
  margin-left:2px;
}

.btn-modif{
  box-shadow: -3px 2px 26px 0px grey;
  background: #584238;
    padding: 9px 32px;
    color: white;

}

.btn-modif:hover {
  background: #151f21;
    padding: 9px 32px;
    color: white;
}

.modif-btn {
  margin: -34px;
    margin-left: -436px;
}

.btn-third {
padding: 30px;
}

.text-group {
  font-size: 23px;
}

// #numbers {
//   width: 15%;
// }


@media (max-width: 1300px) {
#results.active {
  
  width: 15%
}

// #test {
  
//   width: 15%
// }
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 800px;
  }

  .project {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #test.active {
    
    width: 33%;
  
  }
  .close.active{
    left: 28.5%;
    color:black;
    transition: 0.8s;
    opacity: 0.7;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }

  .project {
    grid-template-columns: 1fr 1fr;
  }

  #results.active {
    
    width: 33%;
  }

  .close.active{
    left: 28.5%;
    color:black;
    transition: 0.8s;
    opacity: 0.7;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .project {
    grid-template-columns: 1fr;
  }

  .card-product h2 {
    font-size: 12px;
    
  }

  .container {
    width: 300px;
  }

  .bground{
    display: none;
  }
  
  .bgshow{
    display: none;
  }
  .bgedit{
    display: none;
  }
  .bgnew{
    display: none;
  }
  .bgtext{
    display: none;
  }
  #test {
    
    width: 0px;
  
  }

  #test.active {
    
    width: 50%;
  
  }

  

  #results.active {
    
    width: 33%;
  }

  .close{
    left: 0px;
    top: 140px;
    z-index: 1;
    position: absolute;
    color: #9e9e9e2e;
    transition: 0.8s;
    opacity: 0.1
    
  }
    
  .close.active{
    left: 25.5%;
    color:black;
    transition: 0.8s;
    opacity: 0.7;
  }
}


