.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  .nav-link-color {
    color: #151f21;
   flex-grow: 1;
   display:flex;
   align-items: center;
   margin-right: 10px;
  }
  .title{
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-family: 'Major Mono Display', monospace;
    justify-content: space-between;
    }
.navbar-collapse {
//min-width: 498px;
display: flex;
text-align: right;
align-items: center;
justify-content: flex-end;
}

}

.navbar-home {
  position: absolute;
  width: 100%;
  background: transparent;
  box-shadow: none;
  .title{
    color: white;
    font-family: 'Major Mono Display', monospace;
  //  font-size: 60px;
    }
 .nav-link-color{
color: white;
margin-right: 10px;
flex-grow: 2;
display:flex;
align-items: center;
margin-right: 10px;
}
  .nav-link-color{
    color: white;
    margin-right: 10px;

    flex-grow: 2;

  }


}


//.navbar-lewagon .navbar-collapse {

//flex-grow: 0;

//}

//.navbar-lewagon .navbar-brand img {
//  width: 40px;
//}

.navbar-light .navbar-nav .nav-link {
    color: white;
}


.navbar-collapse {
//min-width: 480px;
display: flex;

//   min-width: 498px;
   display: flex;

   text-align: right;
 align-items: center;
justify-content: flex-end;
}


//.nav-link-color {
// flex-grow: 1;
//}
// flex-grow: 1.7;
//}


.mr-auto-new {
display: flex;
list-style: none;
text-align: center;
margin-left: -30px;
}


.nav-item {
  list-style: none;
}


.mr-auto-new {
  display: flex
}

