<h1>Edit Text</h1>

<div class = "btn btn-danger">Open the Right-Menu</div>

<%= render 'div' %>

<div class = "container">
<%= render 'form', text: @text %>
<div id="test">
</div>
</div>


<%= link_to 'Back', project_path(@project) %>
