

<%# <h1>Edit Text</h1> %>

<div class="container">

<%= render 'form', text: @text %>
</div>

<div id="test" data-action="synonymes">
</div>
<div id="results"></div>
<ul id="menu">
      <li class="menu-item">synonymes</li>
      <li class="menu-item">rimes</li>
      <li class="menu-item">Numéros du Loto</li>
      <li class="menu-item">Aller sur la lune</li>
    </ul>
<div id="out-click"></div>

<%= link_to 'Retour', project_path(@project) %>

