
<div class = "container">

  <%= render 'form', text: @text %>
</div>

<div class = "action-word">
    <label for="fname">Sonorité</label>
    <input type="text" id ="numbers" value="">
    <label for="fnames">lettres</label>
</div>
  
  <%# <label class="form-label" for="customRange2">Sonorité</label>
  <div class="range">
  <input type="range" id ="numbers" class="form-range" min="0" max="27" id="customRange2" />
  </div> %>

<div id="test" class="synonyme" data-action="synonymes"></div>

<div id="results"></div>


<ul id="menu">
      <li class="menu-item">synonymes</li>
      <li class="menu-item">rimes</li>
</ul>


<div id="out-click"></div>


<%= link_to 'Retour', project_path(@project), class: "btn btn-dark" %>

