
<div class = "container">


<%= render 'form', text: @text %>

<div class = "action-word">

  <form action="/action_page.php">
    <label for="fname">Localisation de la rime</label>
    <input type="text" id ="numbers" value="nombre de lettres"><br><br>
  </form>
</div>

<div id="test" data-action="synonymes"></div>

<div id="results"></div>
</div>

<ul id="menu">
      <li class="menu-item">synonymes</li>
      <li class="menu-item">rimes</li>
      <li class="menu-item">Numéros du Loto</li>
      <li class="menu-item">Aller sur la lune</li>
    </ul>
<div id="out-click"></div>

<%= link_to 'Back', project_path(@project) %>

