
<div class = "container">


<%= render 'form', text: @text %>
<div id="test"></div>
<div id="results"></div>
</div>

<ul id="menu">
      <li class="menu-item">Synonyme</li>
      <li class="menu-item">Rime</li>
      <li class="menu-item">Numéros du Loto</li>
      <li class="menu-item">Aller sur la lune</li>
    </ul>
<div id="out-click"></div>

<%= link_to 'Back', project_path(@project) %>

