
<div class = "container">

  <%= render 'form', text: @text %>
</div>

<div class = "action-word">
    <label for="fname">Sonorité</label>
    <input type="text" id ="numbers" value=""><br><br>
  </div>

<div id="test" class="synonyme" data-action="synonymes"></div>

<div id="results"></div>


<ul id="menu">
      <li class="menu-item">synonymes</li>
      <li class="menu-item">rimes</li>
</ul>


<div id="out-click"></div>


<%= link_to 'Back', project_path(@project) %>

